:root {
    --p-white: #ffffff;
    --s-white: #f2f2f2;
    --t-white: #e6e6e6;
    --p-blue: #485d95;
    --s-blue: #5f75b1;
    --t-blue: #374873;
    --p-black: #000000;
    --s-black: #111111;
    --p-gold: #d8c691;
    --bg-nav: rgb(36, 39, 41);
    --g-gold: linear-gradient(to right, rgb(184, 135, 70) 0%, rgb(253, 245, 166) 100%);
    --g-blue: linear-gradient(90deg, hsla(239, 94%, 14%, 1) 0%, hsla(190, 68%, 50%, 1) 100%);
    --hue: 223;
    --bg: hsl(var(--hue), 10%, 90%);
    --fg: hsl(var(--hue), 10%, 10%);
    --primary: hsl(var(--hue), 90%, 50%);
    --trans-dur: 0.3s;
    --trans-timing: cubic-bezier(0.76, 0.05, 0.24, 0.95);
    --trans-timing-in: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    --trans-timing-out: cubic-bezier(0.05, 0.76, 0.06, 0.86);
  }


body{
  transition: background-color var(--trans-dur), color var(--trans-dur);
}

body, nav{
      background: var(--s-white);
      color: var(--p-black);
}

.g-grad{
    background: var(--g-gold);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.b-grad{
    background: var(--g-blue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

@media(max-width: 768px){
    .navbar-brand img{
        display: none;
        position: relative;
        }
    }



.navbar-brand{
    box-shadow: 0 0 0px 3px var(--s-white);
    border-radius: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 75px;
    height: 75px;  
  }

  .navbar-brand img{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 60px;
    height: 60px;
    
}
  
  #container3D canvas {
    display: flex;
    width: 400px !important;
    height: 800px !important;
    position: relative;
    margin-top: 10% !important;
    margin-bottom: -300px;
    margin-left: 60%;
  }

.holt{
    text-align: center;
}

.ho1i{
    /* box shadow */
    box-shadow: 0 0 10px 1px #000000;
}


.btnh{
    display: flex;
    background-color: var(--p-blue);
    color: var(--p-white);
    border: 1px solid var(--s-black);
    border-radius: 5px;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 10px #000000;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    
}

@keyframes onHoverAnimation {
    0% {
        background-color: var(--p-blue); 
    }
    100% {
        background: var(--g-gold);
        color: var(--s-black);
        
    }
}

.btnh:hover{
    animation-name: onHoverAnimation;
}

  
.header-text {
  animation: slide-up 1s ease-in-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.custom-bg-blue {
  background: var(--g-blue);
  color: var(--p-white);
}

.custom-bg-gold {
  background: var(--g-gold);
  color: var(--p-black);
}

.cph0{
  grid-gap: 20px;
  justify-content: center;
  
}



.cph{
  max-width: 350px;
  padding-top: 20px;
  border: none;
  border-radius: 20px;
  box-shadow:  -22px 22px 62px #5a5a5a,
            22px -22px 62px #ffffff;

}



/* slider */

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  display: flex;
  position: relative;
  margin: 0 auto;
  min-width: 700px;
  height: auto;
  background: var(--g-gold);
  border-radius: 52px;
}

.mySlides img{
 border-radius: 50px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.slogan{
  margin-top: 50px;
   
}

.slogan {
    text-align: center;
  }
  .slogan strong {
    color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  background: var(--g-gold);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  animation-duration: calc(500);
  display: inline-block;
  }
  
  @keyframes textclip {
    0% {
      background-position: 500% center;
    }
    100% {
      background-position: 80% center;
    }
    
  }


.proj{
  margin: 20px;
}

.proj-cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 20px auto;
}

.contp{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: var(--g-blue);

}

.proj {
  width: 18rem;
  transition: 0.3s ease-in-out; /* Adding a transition for smooth effect */
}

.proj:hover {
  transform: scale(1.2);
  opacity: 1; /* Set the opacity of the hovered element back to 1 */
  box-shadow:  0 0 10px 1px #000000; 
}

.proj-cont:hover .proj:not(:hover) {
  transform: scale(0.9);
  opacity: 0.5; /* Set the opacity of other non-hovered elements to 0.5 */
}

.btna{
  margin-bottom: 30px;
}



.teams-section {
  text-align: center;
  padding: 40px;
  border-top: solid 1px rgb(198, 198, 198);
  border-bottom: solid 1px rgb(198, 198, 198);
  margin-bottom: 50px;
  margin-top: 50px;
}

.teams {
  display: inline-block;
  margin: 20px;
}

.teams img {
  max-width: 20%;
  max-height: 20%;
  height: 20%;
  width: 20%;
 
}

.teams h3 {
  margin: 10px 0;
}

.teams p {
  font-size: 14px;
}

footer{
  padding: 20px;
  margin-top: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow:  -22px 22px 62px #5a5a5a,
            22px -22px 62px #ffffff;
}

.footcont1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.fot{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  align-content:space-between;
}

.fot h3{
  margin-bottom: 20px;
}

.fot p{
  margin-bottom: 20px;
}

.fot a{
  text-decoration: none;
  color: var(--p-black);
}



.btnh0{
  display: flex;
  background-color: var(--p-blue);
  color: var(--p-white);
  border: 1px solid var(--s-black);
  border-radius: 5px;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 10px #000000;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: 150px;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

@keyframes onHoverAnimation {
  0% {
      background-color: var(--p-blue); 
  }
  100% {
      background: var(--g-gold);
      color: var(--s-black);
      
  }
}

.btnh0:hover{
  animation-name: onHoverAnimation;
}


.vproj{
  margin: 20px;
  margin-top: 0;
  padding: 20px;
  border-radius: 20px;
  background: var(--g-blue);
  box-shadow:  -22px 22px 62px #5a5a5a,
            22px -22px 62px #ffffff;
}

.vproj1 img{

  margin: 0 auto;
  border-radius: 20px;
}

.sorting-options{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 200px;
}

#sort-order , #sort-button{
  background-color: var(--s-white);
  color: var(--s-black);
}

.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #191970;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 4px solid #191970;
  margin-bottom: 50px;
  padding: 13px;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #191970;
}

.fa {
  width: px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  float: left;
  margin: 0 10px;
}

.button {
  width: 100%;
  padding: 8px;
  color: #ffffff;
  background: none #191970;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}



.switch__input, .switch__icon{
    color: var(--fg);
    font-size: 40px;
    font-family: sans-serif;

}

.switch__icon{
    color: var(--fg);
    font-size: 40px;
    font-family: sans-serif;

}

body {
  background-color: var(--bg);
  
  transition: background-color var(--trans-dur), color var(--trans-dur);
}

body:has(.switch__input:checked) {
  background-color: var(--s-black);
  color: var(--s-white);
}

body:has(.switch__input:checked) nav{
  background-color: var(--s-black);
  color: var(--s-white);
}

body:has(.switch__input:checked) .card{
  background-color: var(--s-black);
  color: var(--s-white);
}

body:has(.switch__input:checked) .form-control{
  background-color: var(--s-black);
  color: var(--s-white);
}

body:has(.switch__input:checked) .form-select{
  background-color: var(--s-black);
  color: var(--s-white);
}

body:has(.switch__input:checked) .form-select option:disabled {
  background-color: var(--s-black);
  color: var(--s-white);
}

body:has(.switch__input:checked) .form-check-input{
  background-color: var(--s-black);
  color: var(--s-white);
}

body:has(.switch__input:checked) .input-group-text{
  background-color: var(--s-black);
  color: var(--s-white);
  border: var(--bs-border-width) solid var(--bs-border-color);
}

body:has(.switch__input:checked) .accordion{
  background-color: var(--s-black);
  color: var(--s-white);
  
}

body:has(.switch__input:checked) .accordion-item{
  background-color: var(--s-black);
  color: var(--s-white);
  border: var(--bs-border-width) solid var(--bs-border-color);
}

body:has(.switch__input:checked) .accordion-header{
  background-color: var(--s-black);
  color: var(--s-white);
  
}

body:has(.switch__input:checked) .accordion-button{
  background-color: var(--s-black);
  color: var(--s-white);
  border: var(--bs-border-width) solid var(--bs-border-color);
}

.accordion-button::after{
    background-image: url("../img/btn1.svg");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../img/btn1.svg");
}

body:has(.switch__input:checked) .accordion-button::after {
  background-image: url("../img/btn0.svg");
}

body:has(.switch__input:checked) .accordion-button:not(.collapsed)::after {
  background-image: url("../img/btn0.svg");
}

nav:has(.switch__input:checked) a {
  color: var(--s-white) !important;
}

nav:has(.switch__input:checked) .navbar-brand img {
  filter: invert(90%) sepia(100%) saturate(35%) hue-rotate(193deg) brightness(107%) contrast(99%);
}

nav:has(.switch__input:checked) .dropdown-menu {
  border: var(--bs-dropdown-border-width) solid var(--t-white) !important;
  background-color: var(--s-black) !important;
}

nav:has(.switch__input:checked) .dropdown-menu .dropdown-divider {
  border-top: 1px solid var(--t-white) !important;
  background-color: var(--s-black) !important;
}

nav:has(.switch__input:checked) .dropdown-item:hover {
  background-color: var(--s-black) !important;
}

body:has(.switch__input:checked) .footcont1 img{
  filter: invert(90%) sepia(100%) saturate(35%) hue-rotate(193deg) brightness(107%) contrast(99%);
}

body:has(.switch__input:checked) .fot a{
  color: var(--s-white);
}

body:has(.switch__input:checked) #sort-key, #sort-order, #sort-button{
  background-color: var(--s-black);
  color: var(--s-white) ;
}


.switch {
  margin: auto;
  position: relative;
}

.switch__icon,
.switch__input {
  display: block;
}

.switch__icon {
  position: absolute;
  top: 0.15em;
  right: 0.3em;
  width: 1em;
  height: 1em;
  transition: opacity calc(var(--trans-dur) / 2),
    transform calc(var(--trans-dur) / 2);
  cursor: pointer;
}

.switch__icon polyline {
  transition: stroke-dashoffset calc(var(--trans-dur) / 2);
}

.switch__icon--light,
.switch__icon--light polyline {
  transition-delay: calc(var(--trans-dur) / 2);
  transition-timing-function: var(--trans-timing-out);
}

.switch__icon--dark {
  opacity: 0;
  transform: translateX(-0.75em) rotate(30deg) scale(0.75);
  transition-timing-function: var(--trans-timing-in);
}

.switch__input {
  background: var(--g-gold);
  border-radius: 0.75em;
  box-shadow: 0 0 0 0.125em hsla(var(--hue), 90%, 50%, 0),
    0.125em 0.125em 0.25em hsla(var(--hue), 90%, 10%, 0.2);
  outline: transparent;
  position: relative;
  width: 3em;
  height: 1.21em;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color var(--trans-dur) var(--trans-timing),
    box-shadow 0.15s linear;
}

.switch__input:focus-visible {
  box-shadow: 0 0 0 0.125em hsl(var(--hue), 90%, 50%),
    0.125em 0.125em 0.25em hsla(var(--hue), 90%, 10%, 0.2);
}

.switch__input::before,
.switch__input::after {
  content: "";
  display: block;
  position: absolute;
}

.switch__input::before {
  background: var(--g-gold);
  border-radius: inherit;
  
  transition: background-color var(--trans-dur) var(--trans-timing);
}

.switch__input::after {
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  box-shadow: 0.05em 0.05em 0.05em hsla(var(--hue), 90%, 10%, 0.1);
  top: 0.125em;
  left: 0.125em;
  width: 1em;
  height: 1em;
  transition: background-color var(--trans-dur) var(--trans-timing),
    transform var(--trans-dur) var(--trans-timing);
  z-index: 1;
}

.switch__input:checked {
  background: var(--g-blue);;
}

.switch__input:checked::before {
  background-color: hsl(220, 90%, 40%);
}

.switch__input:checked::after {
  background-color: hsl(0, 0%, 0%);
  transform: translateX(1.8em);
}

.switch__input:checked~.switch__icon--light,
.switch__input:checked~.switch__icon--light polyline {
  transition-delay: 0s;
  transition-timing-function: var(--trans-timing-in);
}

.switch__input:checked~.switch__icon--light {
  opacity: 0;
  transform: translateX(-0.75em) rotate(-30deg) scale(0.75);
}

.switch__input:checked~.switch__icon--light polyline {
  stroke-dashoffset: 1.5;
}

.switch__input:checked~.switch__icon--dark {
  opacity: 1;
  transform: translateX(-1.5em);
  transition-delay: calc(var(--trans-dur) / 2);
  transition-timing-function: var(--trans-timing-out);
}

.switch__sr {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}
