:root{
    --p-black: #000000;
    --s-black: #111111;
    --p-blue: #485d95;
    --s-blue: #5f75b1;
    --t-blue: #374873;
    --p-white: #ffffff;
    --s-white: #f2f2f2;
    --t-white: #e6e6e6;
    --p-gold: #d8c691;
    --g-gold: linear-gradient(to right, rgb(184, 135, 70) 0%, rgb(253, 245, 166) 100%);
    --darkreader-inline-bgimage:linear-gradient(to right, #936c38 0%, #4d4602 100%);
    --darkreader-inline-bgcolor: initial;
}

@media(max-width: 768px){
    .navbar-brand img{
        display: none;
        position: relative;
        }
}

html{
    height: 50000px;
}

.navbar-brand{
    background-color: var(--s-blue);
    box-shadow: 0 7px 0px 3px #fafafa;
    border-radius: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 75px;
    height: 75px;  
}

.navbar-brand img{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 60px;
    height: 60px;
}