:root {
    --p-black: #000000;
    --s-black: #111111;
    --p-blue: #485d95;
    --s-blue: #5f75b1;
    --t-blue: #374873;
    --p-white: #ffffff;
    --s-white: #f2f2f2;
    --t-white: #e6e6e6;
    --p-gold: #d8c691;
    --g-gold: linear-gradient(to right, rgb(184, 135, 70) 0%, rgb(253, 245, 166) 100%);
    --g-blue: linear-gradient(90deg, hsla(239, 94%, 14%, 1) 0%, hsla(190, 68%, 50%, 1) 100%);
  }

body, nav{
      background: var(--s-white);
      color: var(--p-black);
}

.g-grad{
    background: var(--g-gold);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.b-grad{
    background: var(--g-blue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

@media(max-width: 768px){
    .navbar-brand img{
        display: none;
        position: relative;
        }
    }



.navbar-brand{
    background-color: var(--s-blue);
    box-shadow: 0 7px 0px 3px #fafafa;
    border-radius: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 75px;
    height: 75px;  
}

.navbar-brand img{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 60px;
    height: 60px;
}
  
  #container3D canvas {
    display: flex;
    width: 400px !important;
    height: 800px !important;
    position: relative;
    margin-top: 10% !important;
    margin-bottom: -300px;
    margin-left: 60%;
  }

.holt{
    text-align: center;
}

.ho1i{
    /* box shadow */
    box-shadow: 0 0 10px 1px #000000;
}

.btnh{
    background-color: var(--p-blue);
    color: var(--p-white);
    border: 1px solid var(--s-black);
    border-radius: 5px;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 10px #000000;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}

@keyframes onHoverAnimation {
    0% {
        background-color: var(--p-blue); 
    }
    100% {
        background: var(--g-gold);
        color: var(--s-black);
        
    }
}

.btnh:hover{
    animation-name: onHoverAnimation;
}

  
  .header-text {
    animation: slide-up 1s ease-in-out;
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .custom-bg-blue {
    background: var(--g-blue);
    color: var(--p-white);
  }
  
  .custom-bg-gold {
    background: var(--g-gold);
    color: var(--p-black);
  }

  .cph0{
    grid-gap: 20px;
    justify-content: center;

  }



  .cph{
    padding-top: 20px;
    border: none;
    border-radius: 20px;
    box-shadow:  -22px 22px 62px #5a5a5a,
             22px -22px 62px #ffffff;

  }



/* slider */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}